{
  "extends": ["eslint:recommended", "plugin:react/recommended", "airbnb"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "rules": {
    "strict": 0,
    "max-len": ["error", 80, 2],
    "arrow-body-style": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-prototype-builtins": 0,
  }
}
